

.brand-statement-container, .langs-container {
    background-color: #0455BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px #011526; 
    margin-bottom: 3em;
}

.about-me-title {
    border-radius: 50px;
    padding: 15px;
    background-color: #011526;
    color: #0455BF;
    font-size: 3rem;
    box-shadow: 0 0 5px 5px #01284b; 
}
.brand-statement-body {
    font-size: 1.9rem;
    text-align: center;
    width: 80%;
}

.icons-container {
    display: flex;
}

.icon {
    text-align: center;
    font-size: 1.2rem;
}

.dev-icon {
    margin: 1.5rem;
    width: 10rem;
    box-shadow: 5px 5px 10px 2px;
}