
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--gradient);
    background-size: 400%;
    animation: start-bg 10s infinite alternate;
}
.header p {
    margin: 2px;
}
.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.headerItem {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content : center;
}
.btn-header-project {
    Background-color: rgb(31, 198, 254);
    font-size: 2rem;
    width: 100%;
}




/* PROJECTS */
.project-list, .project-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    width: 80vw;
    margin: auto;
}
.project-list {
    display: flex;
    justify-content: center;
    background-color: #011526;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px rgba(86, 161, 191, .8);   
}


.project {
    display: flex;
    /* flex-direction: column; */
    align-self: center;
    background-color:white;
    justify-content: center;
    height: 30em;
    width: 60em;
    margin: 2em;
    margin-bottom: 3em; 
    border-radius: 15px;
    box-shadow: 0 0 10px 10px rgba(86, 161, 191, .8);    
    
}

.project-description {
    color: white;
    margin-bottom: 5em;
    align-self: center;
    background: black;
    width: 60em;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px rgba(86, 161, 191, .8);  
    animation: show-des-ani 5s;
}
@keyframes show-des-ani {
    0% {color:rgba(255, 255, 255, 0)}
    0% {box-shadow: 0 0 0 0 rgba(86, 161, 191, .8)}
    0% {height: 0rem}
    0% {margin-bottom: 0rem}
    100% {color:rgba(255, 255, 255, 1)}
    100% {height: 20rem}
    100% {margin-bottom: 5em;}
    100% {box-shadow: 0 0 10px 10px rgba(86, 161, 191, .8)}
}






.back-btn {
    background-color: rgba(222, 20, 20, 0);
    color: #0455BF;
    width: 7em;
    height: 2.2em;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    border: 3px solid #0455BF;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1.5s;
    margin: 0.8em;
}



.show-des {
    color: white;
}
.hide-des {
    display: none;
}