
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--gradient);
    background-size: 400%;
    animation: start-bg 10s infinite alternate;
}
.header p {
    margin: 2px;
}
.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.headerItem {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content : center;
}
.btn-header-project {
    Background-color: rgb(31, 198, 254);
    font-size: 2rem;
    width: 100%;
}



.project-list {
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px rgba(86, 161, 191, .8);   
}

.project {
    display: flex;
    align-self: center;
    background-color:white;
    justify-content: center;
    height: 30em;
    width: 60em;
    margin: 2em;
    margin-bottom: 3em; 
    border-radius: 15px;
    box-shadow: 0 0 10px 10px rgba(86, 161, 191, .8);    

}
/* .project:hover .project-description {
    color: red;
} */

.back-btn {
    background-color: rgba(222, 20, 20, 0);
    color: #0455BF;
    width: 7em;
    height: 2.2em;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    border: 3px solid #0455BF;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 1.5s;
    margin: 0.8em;
}


.project-description {
    color: white;
}

.show-des {
    color: white;
}
.hide-des {
    display: none;
}